<!-- ======= About Section ======= -->
<section id="about">
    <div class="container" data-aos="fade-up">

        <div class="row about-extra">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                <img src="assets/img/osmosekey.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right">
                <h4>NIEUW bij Demi+</h4>
                <p>
                    Goedkoop tanken en <b>achteraf</b> alles op <b>één factuur</b>. Geen gedoe. <br/>
                    <a href="https://nl.payunited.eu/registration">Vraag nu de pas aan</a> en ontvang de <b>eerste 1000 liter osmosewater gratis</b>.
                </p>
                <p>                    
                    Samen <b>besparen</b> we drinkwater. <br/>
                    Het is tijd voor <b>Demi+</b>
                </p>
                <p>
                    (kvk inschrijving verplicht)
                </p>
            </div>
        </div>

        <div class="row about-extra">
            <div class="col-lg-6" data-aos="fade-right">
                <img src="assets/img/about-us.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0" data-aos="fade-left">
                <h4>Het beste schoonmaakwater van èn voor de wereld</h4>
                <p>
                    De schoonmaakbranche werkt met gedemineraliseerd water. Ook wel ‘osmosewater’ genoemd. Dit is water
                    zonder kalk, ijzer, lood, magnesium, natrium, kalium, zouten en andere levende organismen. Dit is
                    noodzakelijk om zonder vlekken en strepen schoon te maken. In Nederland wordt dit schoonmaakwater
                    geproduceerd van kraanwater.
                </p>
                <p>
                    Om het gebruik van drinkwater voor de schoonmaakbranche terug te dringen, produceren wij
                    gedemineraliseerd water van hemelwater. 
                    <br/>We noemen het Demi+; ‘ Groen’ water voor de schoonmaakbranche.
                    <br/>Demi+ voldoet aan alle kwaliteits- en veiligheidseisen om binnen en buiten te reinigen.
                </p>
            </div>
        </div>

        <div class="row about-extra">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                <img src="assets/img/logo.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right">
                <h4>Samen drinkwater besparen</h4>
                <p>
                    In 2021 zijn wij gestart met het onderzoeken van de technische, 
                    juridische en economische haalbaarheid om bij de productie van gedemineraliseerd water kraanwater te vervangen door hemelwater. 
                    Mede dankzij een innovatiesubsidie van SNN hebben wij een testlocatie ingericht in Groningen. 
                </p>
                <p>
                    Inmiddels produceren wij voor glazenwassers, schoonmaakbedrijven, brouwerijen en particulieren osmosewater van hemelwater. Of op z’n minst hybdride. 
                    Demi+ kan je tanken bij onze productielocaties in Groningen, Leek en binnenkort bij verschillende locaties van Fieten Olie. 
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->