<!-- ======= Services Section ======= -->
<section id="services" class="section-bg">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3>Onze services</h3>
      </header>

      <div class="row justify-content-center">

        <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="100">
          <div class="box">
            <div class="icon"><i class="bi bi-card-checklist" style="color: #ff689b;"></i></div>
            <h4 class="title"><a href="#contact">Doe mee met je dak</a></h4>
            <p class="description">Heb je een groot dakoppervlak en wil je ook gedemineraliseerd water produceren?
                <br/>Neem dan contact met ons op.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-5" data-aos="zoom-in" data-aos-delay="200">
          <div class="box">
            <div class="icon"><i class="bi bi-geo-alt" style="color: #e9bf06;"></i></div>
            <h4 class="title"><a href="#contact">Stap over op duurzaam water</a></h4>
            <p class="description">Ben je overtuigd en wil je ons water gebruiken? Kijk dan waar je het kan vinden.
                <br/>Geen locatie in de buurt? Neem dan contact met ons op.
            </p>
          </div>
        </div>

      </div>

    </div>
  </section>
<!-- End Services Section -->